.user-home-calendar-time-picker.dark {
    background-color: #323539 !important;
    .ant-picker-input input::placeholder {
        color: #cfcfcf;
    }
}
.user-home-calendar-time-picker.light {
    background-color: #c2c5c9 !important;
    .ant-picker-input input::placeholder {
        color: #4f4f4f;
    }
}
/* time picker */
.user-home-calendar-time-picker .ant-picker-input .ant-picker-suffix,
.user-home-calendar-time-picker.dark .ant-picker-input input,
.user-home-calendar-time-picker.dark .ant-picker-clear {
    color: #fafafa !important;
}
.user-home-calendar-time-picker .ant-picker-input input[disabled] ~ .ant-picker-suffix,
.user-home-calendar-time-picker .ant-picker-input input[disabled]::placeholder {
    color: #909090 !important;
}
.user-home-calendar-time-picker.dark .ant-picker-input input {
    font-family: 'Lato';
}
.user-home-calendar-time-picker.light .ant-picker-input input,
.user-home-calendar-time-picker.light .ant-picker-clear {
    color: #2f2f2f;
}

.user-home-calendar-time-picker.light .ant-picker-input input {
    font-family: 'Lato';
}

/* calendar */
.nextui-calendar-parent.dark .bg-content1, .nextui-calendar-parent.dark {
    background-color: #232426 !important;
}
.nextui-calendar-parent.dark {
    border: 1px solid #434446;
}
.nextui-calendar-parent.light {
    border: 1px solid #d3d4d6;
}
.nextui-calendar-parent.light .bg-content1, .nextui-calendar-parent.light {
    background-color: #fafafa !important;
}
.nextui-calendar-parent {
    border-radius: 10px;
    pointer-events: auto;
    /* width: 70% !important; */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20) !important;
    .bg-content1 {
        button, header span {
            color: #f2f4f7 !important;
            border-radius: 8px;
        }
        button:hover {
            background-color: #37393c !important;
        }

    }
    .calendar {
        width: 71.2% !important;
        border-radius: 0px;
        border: none;
    }
    .calendar.dark {
        table thead tr {
            /* padding: 2px 0 !important; */
            color: #cacaca !important;
        }
        table tbody {
            background-color: #232426;
        }
        table tbody tr td span,
        [data-slot="header-wrapper"] button, 
        [data-slot="header-wrapper"] header span {
            color: #f0f2f5 !important;
            background-color: transparent !important;
        }
        table tbody tr td:not([data-selected="true"]) span {
            border-radius: 6px;
        }
        table tbody tr td:not([data-selected="true"]) span:hover,
        [data-slot="header-wrapper"] button:hover { 
            background-color: #37393c !important;
            transition: none !important; /* Remove the transition to avoid the flicker */
        }
        
        table tbody tr td span[data-outside-month="true"] span {
            color: #7a7c7f !important;
        }
        table tbody tr td span[data-selected="true"],
        table tbody tr td[aria-selected="true"] span:hover  {
            background-color: #048a66 !important;
            transition: none !important;
        }
    }
    .calendar.light {
        table thead tr {
            color: #aaaaaa !important;
        }
        table tbody {
            background-color: #fafafa;
        }
        table tbody tr td span,
        [data-slot="header-wrapper"] button, 
        [data-slot="header-wrapper"] header span {
            color: #303235 !important;
            background-color: transparent !important;
        }
        table tbody tr td:not([data-selected="true"]) span {
            border-radius: 6px;
        }
        table tbody tr td:not([data-selected="true"]) span:hover,
        [data-slot="header-wrapper"] button:hover { 
            background-color: #c7c9cc !important;
            transition: none !important;
        }
        
        table tbody tr td span[data-outside-month="true"] span {
            color: #8a8c8f !important;
        }
        table tbody tr td span[data-selected="true"],
        table tbody tr td[aria-selected="true"] span:hover  {
            background-color: #048a66 !important;
            transition: none !important;
        }
        table tbody tr td span[data-selected="true"] span {
            color: #f0f2f5 !important;
        }
    }
    .date-picker {
        border: 1px solid #57585a;
        border-radius: 8px;
    }
    .date-picker div[data-slot="input-wrapper"] {
        box-shadow: none !important;
    }
    .date-picker button[aria-label="Calendar"] {
        display: none !important;
    }
    .user-home-calendar-date-input {
        width: 49%;
    }
    
    .date-time-picker-select input {
        /* background-color: #323539; */
        border: none;
        font-family: 'Lato';
    }
    .date-time-picker-select.dark input {
        color: #fafafa;
    }
    .date-time-picker-select.light input {
        color: #2f2f2f !important;
    }
    .date-time-picker-select.light input {
        background-color: #c2c5c9 !important;
    }
    .date-time-picker-select.dark input, .date-time-picker-select.dark input[disabled] {
        background-color: #323539 !important;
    }
    .date-time-picker-select input[disabled] {
        opacity: .8 !important;
        cursor: auto !important;
    }
    .date-time-picker-select.dark input::placeholder {
        color: #cfcfcf;
    }
    .date-time-picker-select.light input::placeholder {
        color: #4f4f4f;
    }
    /* .date-time-picker-select input[disabled] {
        background-color: #a2a5a9 !important;
        cursor: auto !important;
    } */
    /* .date-time-picker-select input::placeholder {
        color: #cfcfcf !important;
    } */
    .date-time-picker-select.dark .mantine-CloseButton-root,
    .date-time-picker-select.dark .mantine-Select-section svg {
        color: #fafafa;
    }
    .date-time-picker-select.light .mantine-CloseButton-root,
    .date-time-picker-select.light .mantine-Select-section svg {
        color: #2f2f2f;
    }
    .preset-button {
        height: 30px;
        font-size: 12.4px;
        padding: 0 10px;
        font-weight: 450;
        transition: all 0.4s ease;
    }
    .preset-button.dark {
        /* background-color: #323539; */
        background-color: transparent;
        color: #d6d7da;
        /* border: .1px solid #525559; */
        border: none;
    }
    .preset-button.light {
        background-color: #c2c5c9;
        color: #26272a !important;
        border: .1px solid #a2a5a9;
    }
    .preset-button.dark:hover {
        background-color: #047a66 !important;
    }
    .preset-button.light:hover {
        background-color: #049a66d5 !important;
    }
}
.mantine-Popover-dropdown .mantine-Select-options .mantine-Select-option {
    transition: background-color 0.1s ease !important;
}
.nextui-calendar-parent.dark .mantine-Popover-dropdown {
    background-color: #2a2b2d !important;
    border-color: #3a3b3d;
    color: #fafafa;

    .mantine-Select-options .mantine-Select-option:hover {
        background-color: #3a3b3d;
    }
}
.nextui-calendar-parent.light .mantine-Popover-dropdown {
    background-color: #f0f0f0 !important;
    border-color: #aaabad;
    color: #222222;

    .mantine-Select-options .mantine-Select-option:hover,
    .mantine-Select-options .mantine-Select-option[aria-selected="true"] {
        background-color: #dadbdd;
    }
}