.home-header-button.dark:hover {
    background-color: #2b2c2e !important;
}
.home-header-button.light:hover {
    background-color: #ebecee !important;
}
.home-header-customize-button {
    transition: all .8s ease !important;
}
.home-header-customize-button:hover {
    background-color: #048369 !important;
}