.home-header-invite-button {
    padding: 2px 13px 2px 9px;
    border-radius: 8px !important;
    border: .1px solid #a7a7a7;
    background-color: #0f5255;
    color: #dfdfdf;
    font-weight: 600;
    font-family: 'Lato';
    font-size: 1.03rem;
}
.home-header-invite-button:hover {
    background-color: #1d6063;
    color: #fafafa;
}

.home-header-button.dark:hover {
    background-color: #2b2c2e !important;
}
.home-header-button.light:hover {
    background-color: #ebecee !important;
}
.home-header-customize-button {
    transition: all .8s ease !important;
}
.home-header-customize-button:hover {
    background-color: #048369 !important;
}