
.task-card-segmented-control {
    /* background-color: #323539 !important; */
    padding:3px !important; 
    display: flex !important;
    align-items: center !important;

    .mantine-SegmentedControl-control[data-active='true'] label p:not(.text) {
        font-weight: 600 !important;
    }
    label {
        padding:4px 15px !important;
    }
}
.task-card-segment .text {
    border-radius: 4px;
    height: 28px;
    font-size: 12px;
}
.task-card-segment.light {
    color: #252525 !important;
    .text {
        color: #545659 !important;
    }
}
.task-card-segment.dark {
    color: #f0f0f0 !important;
    .text {
        color: #a4a6a9 !important;
    }
}
.task-card-create-task-button {
    transition: all .8s ease !important;
}
.task-card-create-task-button:hover {
    background-color: #048369 !important;
}