.task-card-card {
    width: 100% !important;
    /* border: 2px solid #37383a !important; */
    border-radius: 10px !important;
    padding:0 !important;
    /* background-color: #323539 !important; */
}
@media (max-width: 1200px) {
    .task-card-card {
        width: 100% !important;
    }
}
.user-home-create-task-button-dark {
    font-family: 'Nunito Sans', serif;
    text-transform: initial;
    font-weight: 600;
    padding: 6px 0px;
    border-radius: 7px;
}
.user-home-create-task-button-dark:hover {
    background-color: #25262a !important;
    color: #b7b7b7 !important;
}
.user-home-new-task-input {
    padding: 0 0 0 4px !important;
    background-color: #1e1f21;
    .mantine-Input-input {
        background-color: transparent;
        border: none;
        color: #e7e7e7;
        padding:4.224px 14.08px;
        font-family: 'Poppins';
        /* padding:0; */
    }
}
.table-container-wrapper {
    height: 22rem; 
    overflow: auto;
}
.table-container {
    width: 100%;
    border-collapse: separate !important;
}
.table-row:hover, .tag-dropdown-item:hover {
    background-color: #eeeeee !important;
}


/* new */
/* .user-home-card-body {
    background-color: #222529 !important;
} */

.task-card-segmented-control {
    /* background-color: #323539 !important; */
    padding:3px !important; 
    display: flex !important;
    align-items: center !important;

    .mantine-SegmentedControl-control[data-active='true'] label p:not(.text) {
        font-weight: 600 !important;
    }
    label {
        /* padding: var(--sc-padding) 10px !important; */
        padding:4px 15px !important;
    }
}
.task-card-segment .text {
    border-radius: 4px;
    height: 28px;
    font-size: 12px;
}
.task-card-segment.light {
    color: #252525 !important;
    .text {
        color: #545659 !important;
    }
}
.task-card-segment.dark {
    color: #f0f0f0 !important;
    .text {
        color: #a4a6a9 !important;
    }
}
.task-card-create-task-button {
    transition: all .8s ease !important;
}
.task-card-create-task-button:hover {
    background-color: #048369 !important;
}