.signup-login-button {
    padding: 4px 17px !important;
    font-size: 19px !important;
    border: 2px solid #329bf6 !important;
    background-color: transparent !important;
    color: #329bf6 !important;
    border-radius: 8px !important;
}
.signup-content-wrapper-paper {
    /* background: #12141f !important; */
    background: #121212;
    background: -webkit-linear-gradient(to left, #0d1620, #121212);
    background: linear-gradient(to left, #0d1620, #121212);
}
.signup-content-wrapper-paper-divider .mantine-Divider-label {
    /* color: #12b886; */
    color: #898989;
    font-family: 'Nunito Sans';
    font-size: 14px;
}
.sign-up-oauth-button {
    width: 100% !important;
    transition: all 0.5s ease;
}
.sign-up-oauth-button:disabled:hover {
    cursor: default !important;
    filter: brightness(0.95) !important;
}
.auth-user-info-block {
    width: 80% !important;
    justify-content: space-between !important;
    transition: width 0.5s ease;
}
@media(max-width: 480px) {
    .sign-up-oauth-button, .auth-user-info-block {
        width: 100% !important;
    }
}

.sign-up-oauth-button:hover {
    background-color: #252629 !important;
}

.signup-user-info-block-email {
    display: flex;
    justify-content: center;
    padding: 3px 20px !important;
    background-color:#232529 !important;
    color: #f0f0f0 !important;
    /* border: 2px solid #228be6 !important; */
    font-size: 15px !important;
}

.signup-back-arrow-icon {
    color: #edfff1;
    padding: 4px 4px 5px 4px  !important;
    border-radius: 4px;
    cursor: pointer !important;
    transition: all 0.6s ease !important;
}
.signup-back-arrow-icon:hover {
    background-color: #282828;
    filter: brightness(1.1);
}

.signup-content-progress-bar .mantine-Progress-section {
    border-radius: 5px !important;
}