.auth-content-wrapper-paper-divider .mantine-Divider-label {
    color: #898989;
    font-family: 'Nunito Sans';
    font-size: 14px;
}
/* .sign-up-oauth-button {
    width: 100% !important;
    transition: all 0.5s ease;
} */
/* .sign-up-oauth-button:disabled:hover {
    cursor: default !important;
    filter: brightness(0.95) !important;
} */
/* @media(max-width: 480px) {
    .sign-up-oauth-button {
        width: 100% !important;
    }
}

.sign-up-oauth-button:hover {
    background-color: #252629 !important;
} */
