.auth-user-input-field label {
    font-size: 15px;
    color: #f0f0f0;
    font-weight: 500 !important;
    padding-bottom: 5px;
}
.auth-user-input-field .mantine-Input-wrapper .mantine-Input-input {
    font-size: 16px !important;
    font-family: 'Lato';
    color: #f0f0f0 !important;
    border-radius: 6px !important;
    /* background-color: #f6f6f6; */
    background-color: transparent;
    border: 1px solid #5c5c5c;
    transition: border-color .5s ease;
}
.auth-user-input-field .mantine-Input-wrapper .mantine-Input-input:focus,
.auth-user-input-field .mantine-Input-wrapper .mantine-Input-input:focus-within {
    border-color: #2b63f0ab !important;
}
.auth-user-input-field .mantine-Input-wrapper .mantine-Input-input::placeholder,
.auth-user-input-field .mantine-Input-wrapper .mantine-Input-input input::placeholder {
    color: #a2a2a2;
    font-family: 'Nunito Sans';
    font-size: 15px;
}
.auth-user-input-field .mantine-Input-wrapper[data-error] .mantine-Input-input input::placeholder,
.auth-user-input-field .mantine-Input-wrapper[data-error] .mantine-Input-input::placeholder,
.auth-user-input-field .mantine-Input-wrapper[data-error],
.auth-user-input-field .mantine-Input-wrapper[data-error] .mantine-Input-section {
    color: #adb5bd !important;
    --input-color: #222222 !important;
}
.auth-user-input-field .mantine-Input-section .mantine-ActionIcon-root {
    border-radius: 6px;
}
.auth-user-input-field .mantine-Input-section .mantine-ActionIcon-icon svg {
    color: #808080 !important;
}
.auth-user-input-field .mantine-Input-section .mantine-ActionIcon-icon:hover,
.auth-user-input-field .mantine-Input-section .mantine-ActionIcon-root:hover  {
    background-color: #1d1f23 !important;
    border-color: #27292c;
}

.auth-content-signup-button {
    transition: all 0.5s ease;
}
.auth-content-signup-button:hover {
    background-color: #1467af !important;
    border-color: #1467af !important;
}

.auth-user-input-field .mantine-InputWrapper-error {
    font-size: 14.5px;
}