.auth-content-block {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    /* width: 80%; */
    transition: width 0.5s ease;
}
/* @media(max-width: 480px) {
    .auth-content-block {
        width: 70% !important;
    }
} */

.auth-user-input-field label {
    font-size: 15px;
    color: #f0f0f0;
    font-weight: 500 !important;
    padding-bottom: 5px;
}
.auth-user-input-field .mantine-Input-wrapper .mantine-Input-input {
    font-size: 16px !important;
    font-family: 'Lato';
    color: #f0f0f0 !important;
    border-radius: 6px !important;
    /* background-color: #f6f6f6; */
    background-color: transparent;
    border: 1px solid #acacac;
    transition: border-color .5s ease;
}
.auth-user-input-field .mantine-Input-wrapper .mantine-Input-input:focus {
    border-color: #2b63f0ab !important;
}
.auth-user-input-field .mantine-Input-wrapper .mantine-Input-input::placeholder,
.auth-user-input-field .mantine-Input-wrapper .mantine-Input-input input::placeholder {
    color: #a2a2a2;
    font-family: 'Nunito Sans';
    font-size: 15px;
}
.auth-user-input-field .mantine-Input-wrapper[data-error] .mantine-Input-input input::placeholder,
.auth-user-input-field .mantine-Input-wrapper[data-error] .mantine-Input-input::placeholder,
.auth-user-input-field .mantine-Input-wrapper[data-error],
.auth-user-input-field .mantine-Input-wrapper[data-error] .mantine-Input-section {
    color: #adb5bd !important;
    --input-color: #222222 !important;
}
.auth-user-input-field .mantine-Input-section .mantine-ActionIcon-icon svg {
    color: #515151 !important;
}
.auth-user-input-field .mantine-Input-section .mantine-ActionIcon-icon:hover {
    background-color: #d4d4d4 !important;
}

.auth-content-signup-button {
    transition: background-color 0.5s ease;
}
.auth-content-signup-button:hover {
    background-color: #029866 !important;
}

.auth-user-input-field .mantine-InputWrapper-error {
    font-size: 14.5px;
}