.quick-actions-button {
    transition: transform .33s ease-in-out, box-shadow .33s ease-in-out !important;
}
.quick-actions-button:hover {
    transform: translateY(-4px) !important;
    /* box-shadow: 0 10px 34px rgba(0, 0, 0, 0.35) !important; */
}
.quick-actions-button.dark:hover {
    box-shadow: 0 5px 28px #04636636 !important;
}
.quick-actions-button.light:hover {
    box-shadow: 0 5px 28px #06b5bb36 !important;
}