.profile-card-user-status-btn {
    background-color: #324232 !important;
    border-color: #324232 !important;
    color: #9feea7 !important;
    font-family: 'Nunito Sans';
    cursor:default !important;
}
.profile-card-view-profile-btn {
    background-color: #7730e2;
    border-color: #7730e2;
    transition: all 0.55s linear;
}
.profile-card-view-profile-btn:hover, .profile-card-view-profile-btn:focus {
    background-color: #9850ff;
    border-color: #9850ff;
    transition: all 0.55s linear;
}
