.space-creation-input-field label, .space-creation-input-field-label {
    font-size: 15px;
    font-family: Inter;
    font-weight: 500 !important;
    padding-bottom: 5px;
}
.space-creation-input-field .mantine-Input-wrapper {
    .mantine-Input-input {
        font-size: 14.7px;
        font-family: 'Lato';
        background-color: transparent;
        border-color: #8d858d;
    }
    .mantine-Textarea-input {
        border: 1px solid #8d858d !important;
        border-radius: 8px;
        padding:12px 18px !important;
        line-height: 1.5rem;
    }
    .mantine-Input-wrapper[data-error] .mantine-Input-input input::placeholder,
    .mantine-Input-wrapper[data-error] .mantine-Input-input::placeholder,
    .mantine-Input-wrapper[data-error],
    .mantine-Input-wrapper[data-error] .mantine-Input-section {
        color: #adb5bd !important;
        --input-color: #222222 !important;
    }
}
.space-creation-input-field.dark .mantine-Input-input {
    color: #fafafa;
}
.space-creation-input-field.light .mantine-Input-input {
    color: #121212;
}
.space-creation-icon-button.dark:hover {
    /* background-color: #404143 !important; */
    border: .1px solid #404143 !important;
}
.space-creation-icon-button.light:hover {
    /* background-color: #e0e1e3 !important; */
    border: .1px solid #c1c3c6 !important;
}
