/* new */
.header {
  /* height: rem(60px); */
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  height: 5.7rem;
  transition: background-color 0.4s ease-in-out;
  /* border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)); */
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  border: 1px solid #ffffff;

  @mixin hover {
    background-color: #ebebeb;
  }
}