.landing-nav-button {
    /* transform: none !important;
    transition: all 0.2s ease-in-out; */
}

.navbar-content-burger .mantine-Burger-burger, 
.navbar-content-burger .mantine-Burger-burger::before,
.navbar-content-burger .mantine-Burger-burger::after {
    background-color: #fafafa;
    border-radius: 20px;
}


.navbar-drawer-nav-item {
    padding: 6px 0px !important;
    margin-bottom: 6px;
    color: #d0d0d0 !important;
    background-color: transparent !important;
    font-family: Inter !important;
    font-size: 16px !important;
    letter-spacing: 0.18px;
    border-radius: 10px !important;
    transition: all 0.3s ease !important;
}
.navbar-drawer-nav-item:hover {
    background-color: #1b2246 !important;
    border-color: #2b3266 !important;
    filter: brightness(1.2);
}

.navbar-drawer-nav-login-signup {
    padding: 6px 10px !important;
    font-family: Inter !important;
    font-size: 16px !important;
    letter-spacing: 0.18px;
    border-radius: 10px !important;
    transition: all 0.5s ease !important;
    border: 1px solid #566a93 !important;
}
.navbar-drawer-nav-login-signup:hover {
    filter: brightness(1.25);
}

.mantine-Drawer-content {
    height: 100% !important;
}